
  <div class="animated fadeIn">
  <div class="row">
        <button type="button" class="btn btn-transparent p-0 float-right"  routerLinkActive="active" [routerLink]="['/sofnews/add']"
        style="position: relative; left: 15px;top:-13px;color: #009cff;">
            <i class="fa fa-edit"></i> Ajouter un article
        </button>
  </div>
  

    <!--/.row-->
    <div class="row">

      <div  *ngFor="let article of articlesByType; let i = index"  class="col-sm-6 col-md-4">
          <div class="card text-white {{generate(i)}}">
              <div class="card-body pb-0">
                  <button type="button" class="btn btn-transparent p-0 float-right">
                      <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-transparent p-0 float-right">
                      <i class="fa fa-remove"></i>
                  </button>
                <h4 class="mb-0">{{article.title}}</h4>
                <p>{{article.summary}}  </p>
                <footer>
                    <!-- <em *ngIf="hasAccess(article)"> Has access</em> -->
                   <em class="fa fa-user"></em> <cite title="Source Title"> {{article.user.firstName}} {{article.user.lastName}}</cite>

                   <button type="button" class="btn btn-transparent p-0 float-right"
                           routerLinkActive="active" [routerLink]="['/sofnews/show']">
                      <i class="fa fa-eye"></i>
                  </button>
                 </footer>
              </div>
          </div>
      </div>
      
      
    </div><!--/.row-->

    
  </div>
  