<div class="row">
    <div class="col-md-12">
        <form action="" method="post"  (ngSubmit)="saveArticle()" #f="ngForm" novalidate >
            <div class="card">
                <div class="card-header">
                    <strong>Ajouter New'Sof</strong>
                </div>
                <div class="card-block">

                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="titleinput">Titre</label>
                        <div class="col-md-9">
                            <input type="text" id="text-input" name="titleinput" class="form-control" placeholder="Title" name="titleinput" [(ngModel)]="model.titleinput" #titleinput="ngModel" required>
                            <span class="help-block">This is a help text</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="select">Select</label>
                        <div class="col-md-9">
                            <select id="select" value="1" name="catselect" class="form-control" placeholder="Title" name="catselect" [(ngModel)]="model.catselect" #catselect="ngModel">
                                    <option value="1">Health</option>
                                    <option value="2">Social</option>
                                </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="textarea-input">Short text</label>
                        <div class="col-md-9">
                            <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control" placeholder="Content.."></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="textarea-input">Full text</label>
                        <div class="col-md-9">
                            <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
            </div>
        </form>
    </div>
    <!--/.col-->
</div>
<!--/.row-->