
    <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong>{{article.title}}</strong>
                    </div>
                    <div class="card-block">
                      {{article.fullText}}

                      <br/>
                      <img id="imgSlides" class="img-rounded" src="assets/img/logo-mini.png" 
                      style="height: 170px;" alt="" />


                    </div>
                </div>
            </div>
    </div>
    